<!DOCTYPE html>
<html>
	<head>
		<% include _layouts/header %>
		<link rel='stylesheet' href='/css/authorisation.css'/>
	</head>
	<body>
    <% include _layouts/title %>
      <div class="wrapper">
          <div class="authorisation center-align">
            <form class="authorisation__form" id="registrationForm">
              <span class="authorisation__title"><%= text.page.registration %></span>
              <label class="authorisation__label">
                <span class="authorisation__label-title"><%= text.page.mail %></span>
                <input class="authorisation__input" type="text" id="mailInput"/>
              </label>
              <label class="authorisation__label">
                <span class="authorisation__label-title"><%= text.page.password %></span>
                <input class="authorisation__input" type="password" id="passwordInput"/>
              </label>
              <label class="authorisation__label">
                <span class="authorisation__label-title"><%= text.page.confirmPassword %></span>
                <input class="authorisation__input" type="password" id="rePasswordInput"/>
              </label>
              <div class="authorisation__submit-button" id="submitForm"><%= text.page.signUp %></div>
            </form>
          </div>
      </div>
	</body>
  <script async defer type="text/javascript" src="/js/formValidator.js"></script>
  <script async defer type="text/javascript" src="/js/page/registration.js"></script>
</html>
